.root {
  position: relative;
}

.searchIcon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 20px;
  top: 25px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  padding-left: 42px;
  //   padding-right: 5px;
  margin: 12px 10px;
  width: 300px;
  border-radius: 10px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.clearIcon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  top: 24px;
  right: 14px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
